---
  import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const careers = await getCollection('careers');
  return careers.map(post => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

interface Props {
    post: any;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

  <html>
  <head>
      <title>{post.data.title}</title>
    </head>
    <body>
      <h1>{post.data.title}</h1>
      <Content />
    </body>
  </html>
